<template>

    <lightning-card class="slds-var-m-around_medium" title="">
        <div class="slds-var-m-around_medium">
            <lightning-formatted-rich-text value={question.Question_Text__c}></lightning-formatted-rich-text>
            <lightning-button variant="base" label="Read More" title="Read More" onclick={openQuestionModel} class="slds-m-left_x-small"></lightning-button>
            <lightning-formatted-date-time class="slds-float_right" value={question.CreatedDate}></lightning-formatted-date-time>
        </div>
    </lightning-card>
    
</template>