<template>

    <div class="slds-m-around_medium">
        <template if:true={posts.data}>
            <template for:each={posts.data} for:item="post">
                <!--call simple child objects-->
                <c-post key={post.id} question={post}></c-post>
            </template>
        </template>

        <div class=" slds-m-top_large slds-align_absolute-center">
            <lightning-button class="buttoncls" variant="brand" label="Post a Question" onclick={openQuestionModel} ></lightning-button>
        </div>
    </div>
    
</template>