<template>

    <lightning-card >
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-3 slds-align_absolute-center">
                <lightning-icon icon-name="utility:back" alternative-text="previous" title="Previous" onclick={previousMonth}></lightning-icon>
            </div>
            <div class="slds-col slds-size_1-of-3 slds-align_absolute-center">{currentMonth}
            </div>
            <div class="slds-col slds-size_1-of-3 slds-align_absolute-center">
                <lightning-icon icon-name="utility:forward" alternative-text="next" title="Next" onclick={nextMonth}></lightning-icon>
            </div>
        </div>

        <c-calander-days-wrapper incoming-month={currentMonth} incoming-year="2022"></c-calander-days-wrapper>

    </lightning-card>
    
    
</template>