<template>

    <lightning-card title="Send Email">

        <lightning-input label="First Name" onchange={updateFirstName}></lightning-input>
        <lightning-input label="Last Name" onchange={updateLastName}></lightning-input>
        <lightning-input label="Email Address" onchange={updateEmailAddress}></lightning-input>
        <lightning-button label="Calculate Id" onclick={generateID}></lightning-button>
        

        <lightning-button label="Send Welcome Email" disabled={isSendEmailDisabled} onclick={sendWelcomeEmail}></lightning-button>

    </lightning-card>
    
</template>