<template>

    <div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                <span style="color:red" class="slds-align_absolute-center">Sun</span>
            </div>
            <div class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                <span class="slds-align_absolute-center">Mon</span>
            </div>
            <div class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                <span class="slds-align_absolute-center">Tue</span>
            </div>
            <div class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                <span class="slds-align_absolute-center">Wed</span>
            </div>
            <div class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                <span class="slds-align_absolute-center">Thu</span>
            </div>
            <div class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                <span class="slds-align_absolute-center">Fri</span>
            </div>
            <div class="slds-col slds-size_1-of-7 slds-border_bottom" >
                <span style="color:red" class="slds-align_absolute-center">Sat</span>
            </div>
        </div>
    </div>
    <div>
        <div class="slds-grid slds-wrap">
            <template for:each={days} for:item="d">
                <div key={d.day} class="slds-col slds-size_1-of-7 slds-border_bottom slds-border_right">
                    <span class="slds-align_absolute-center">{d.day}</span>
                    </div>
            </template>
        </div>
    </div>
        
    
    
</template>