<template>
    <lightning-card title= "Parent Component">
        <template for:each={mtG} for:item="tt">
            <li key={tt.name}>
                <c-child-Part mtchil={tt}></c-child-Part>

            </li>

        </template>
    </lightning-card>
    
</template>