<template>

    <lightning-card title="Login">
        <lightning-input label="email" ></lightning-input>
        <lightning-input label="password" ></lightning-input>
        <lightning-button label="login"></lightning-button>
    </lightning-card>
    
</template>