<template>
    <lightning-card title="Hello Word2">
        <p>Hello Word 2</p>
        <lightning-input label="Input" onchange={newData}></lightning-input>
        <lightning-input type="checkbox" label="Show Data" onchange={checkbocClicked}></lightning-input>
        <template if:true={showData}>
            <p>{newInput}</p>
        </template>
        
    </lightning-card>
</template>