<template>
    <lightning-card title="Simple Calc">
        <lightning-input type="number" label="First Number" onchange={firstNumberChange} ></lightning-input>
        <lightning-input type="number" label="Second Number" onchange={secondNumberChange} ></lightning-input>
        
        <lightning-button label="Add" icon-name="utility:add" icon-position="right" onclick={add}></lightning-button> 
        <lightning-button label="Sub" icon-name="utility:dash" icon-position="right" onclick={sub}></lightning-button>
        <lightning-button label="Mul" icon-name="utility:close" icon-position="right" onclick={mul}></lightning-button>
        <lightning-button label="Div" icon-name="utility:magicwand" icon-position="right" onclick={div}></lightning-button>

        <p>Result is:</p>
        {res}
    </lightning-card>
    
</template>