<template>
    <lightning-card title="Loops">
        <p>First way</p>

        <template for:each={countryList} for:item="cl">
            <p key={cl}>{cl}</p>
        </template>

        <P> Second Way</P>

        <template iterator:it={countryList}>
            <template if:true={it.first}>
                <p key={it} style="color:red">{it.value}</p>
                <p key={it} style="color:red">{it.index}</p>
            </template>
            <template if:false={it.first}>
                <p key={it} style="color:green">{it.value}</p>
                <p key={it} style="color:green">{it.index}</p>
            </template>
            
        </template>
    </lightning-card>
    
</template>