<template>
    <lightning-card title='Hello World'>
        <lightning-input type='text' label='Enter Something' onchange='{handleinputdata}'></lightning-input>
        <p>{inputValue}</p>
    </lightning-card>
</template>