<template>
    <lightning-card>
        <template if:true={contact.data}>
            <lightning-datatable
                key-field='Id'
                columns={columns}
                data={contacts.data}></lightning-datatable>
            </template>
            <template if:true={errors}>
                <p>{errors}</p>
            </template>
    </lightning-card>
    
</template>