<template>
    <lightning-card title="Question">
        <div class="slds-var-m-around_medium">
            <template if:true={question.data}>
                <template for:each={question.data} for:item="quest">
                    <lightning-formatted-rich-text value={quest.Question_Text__c}  key={quest.Id}></lightning-formatted-rich-text>
                    <template if:true={quest.Answers__r}>
                        <template for:each={quest.Answers__r} for:item="ans">
                            <lightning-card title="Answer" key={ans.Id}>
                                <div class="slds-var-m-around_medium">
                                    <lightning-formatted-rich-text value={ans.Answer_Text__c}></lightning-formatted-rich-text> 
                                    <lightning-formatted-date-time class="slds-float_right" value={ans.CreatedDate}></lightning-formatted-date-time>  
                                </div>
                            </lightning-card>
                        </template>
                    </template>

                    <div key={quest.Id} class="slds-m-top_large slds-align_absolute-center">
                        <template if:false={isAnswerMode}>
                            <lightning-button class="buttoncls" variant="brand" label="Add Your Answer" onclick={openAnswerModel} ></lightning-button>
                        </template>
                    </div>

                    <div key={quest.Id}>
                        <template if:true={isAnswerMode}>
                            <div class="slds-var-m-around_medium">
                                <lightning-record-form
                                                object-api-name={objectApiName}
                                                fields={fields}
                                                onsubmit={onSubmitHandler}
                                                onsuccess={handleAnsSubSuccess}
                                                oncancel={closeAnsModel}>
                                </lightning-record-form>
                            </div>   
                        </template>
                    </div>
                </template>
            </template>
        </div>
    </lightning-card>
    
</template>