<template>
    <lightning-card title="Parent">
        <template for:each={mttg} for:item="tt">
            <li key={tt.name}>
                <c-meetingchild-Comp mtg={tt}></c-meetingchild-Comp>

            </li>
        </template>
    </lightning-card>
    
</template>