<template>

    <lightning-card title="Ask your Question">
        <div class="slds-var-m-around_medium">
            <lightning-record-form
            object-api-name={objectApiName}
            fields={fields}
            onsuccess={handleSuccess}
            oncancel={closeModel}>
            </lightning-record-form>
        </div>
    </lightning-card>
    
</template>