<template>
    <p> It is using forEach</p>
    <template for:each={cityList} for:item="city">
        <p key={city}>{city}</p>

    </template>
    <p> It is using iterator</p>
    <template iterator:it={cityList}>
        <template if:true={it.first}>
            <p key={it.value} style="color:red">{it.value}</p>
        </template>
        <template if:false={it.first}>
            <p key={it.value} style="color:green">{it.value}</p>
        </template>
        
    </template>
</template>