<template>

    <lightning-input type='checkbox' label='show div' onchange ={showDivHandler}></lightning-input>
    <template if:true={displayDiv} >
        <div> I am here </div>
    </template>
    
</template>